* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-heading: 'Staatliches', cursive;
  --ff-texting: 'Palanquin', sans-serif;

  --ff-texting-footer: 'Open Sans', sans-serif;
  --ff-texting-description: 'Roboto', sans-serif;


  --fs-body: 1.4rem;

  --fs-heading: 4rem;

  --bg-primary: #EFF1FF;
  --bg-secondary: #8E9AAF;

  --bg-body: #E5E5E5;
  --bg-heading: #CBC0D3;
  --bg-buttons: #FEEAFA;

  --fc-heading: #FFFFFF;
  --fc-texting: #23053A;
  --fc-buttons: #4A4E69;
}

body {
  font-size: var(--fs-body);
  background-color: var(--bg-body);
  padding: 1rem;
}

.page {
  display: grid;
  background-color: var(--bg-primary);

  max-width: 38.4rem;

  margin: 0 auto;

  padding-bottom: 6rem;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--ff-heading);
  background-color: var(--bg-secondary);

  padding: 3.2rem 0 0;
}

.imageDesktop {
  display: none;
}

header img {
  width: 13.7rem;
  height: 13.7rem;
}

header h1 {
  background-color: var(--bg-heading);
  font-size: var(--fs-heading);

  width: 100%;
  text-align: center;
  margin: 3.2rem 0 3.2rem;
  color: var(--fc-heading);
}

main {
  display: grid;
  gap: 3.2rem;

  justify-content: center;
  animation: downtop 700ms 350ms backwards;
}

.description {
  display: flex;
  justify-content: center;
  background-color: var(--bg-primary);
  width: 100%;

  padding: 3.8rem 0 3.8rem;
}

.description p {
  font-family: var(--ff-texting);
  color: var(--fc-texting);
  line-height: 2.4rem;
  text-align: center;

  width: 31rem;
}

.card-wrapper {
  display: grid;
  justify-content: center;
  gap: 3.2rem;

  animation: downtop 700ms 350ms backwards;
}

.imgDesktop {
  display: none;
}

.card {
  position: relative;
}

.card img {
  width: 32rem;

  object-fit: cover;
  border-radius: 2rem;
}

.card img:hover {
  transform: scale(1.1);
}

.card h2 {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  font-family: var(--ff-heading);
  color: var(--fc-buttons);
  line-height: 3.4rem;

  width: 11.2rem;
  height: 3.5rem;

  background: var(--bg-buttons);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: topdown 700ms;
  animation: downtop 700ms 750ms backwards;
}

footer {
  display: none;
  font-family: var(--ff-texting-footer);
  font-size: 1.4rem;
  line-height: 2.8rem;

  text-align: center;

}

footer p,
footer p a {
  color: var(--fc-buttons);
}

footer p a {
  font-weight: bold;
  text-decoration: none;
}

footer p a:hover {
  color: var(--bg-secondary);
}




@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (min-width: 975px) {

  header {
    max-width: 37.7rem;
  }

  .imageMobile {
    display: none;
  }

  .imageDesktop {
    display: block;
    width: 21.4rem;
    height: 16.7rem;
  }

  .description {
    background-color: var(--bg-secondary);
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .description p {
    font-family: var(--ff-texting-description);
    color: var(--fc-heading);

    font-size: 1.8rem;
    line-height: 2.2rem;

    width: 27.5rem;
  }


  .page {
    max-width: 100rem;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;

    justify-content: center;
  }

  .card img {
    max-width: 22rem;
  }

  .card h2,
  .imgMobile {
    display: none;
  }

  .imgDesktop {
    margin-top: 3.2rem;
    display: block;
  }

  main {
    padding-top: 6.4rem;
    padding-bottom: 1rem;
    padding-right: 8.1rem;

    grid-template-areas:
      "A B"
      "C B"
      "C D"
      "E F"
      "G G";

  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }

  main div:nth-child(3) {
    grid-area: D;
  }

  main div:nth-child(4) {
    grid-area: C;
  }

  main div:nth-child(5) {
    grid-area: E;
  }

  main div:nth-child(6) {
    grid-area: F;
  }

  main footer {
    margin-bottom: 3rem;
    grid-area: G;
  }

  footer {
    display: block;
  }

}


@media (min-width: 1212px) {

  header {
    max-width: 37.7rem;
    padding-bottom: 12rem;
  }

  .imageMobile {
    display: none;
  }

  .imageDesktop {
    display: block;
    width: 21.4rem;
    height: 16.7rem;
  }

  .description {
    background-color: var(--bg-secondary);
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .description p {
    font-family: var(--ff-texting-description);
    color: var(--fc-heading);

    font-size: 1.8rem;
    line-height: 2.2rem;

    width: 27.5rem;
  }


  .page {
    max-width: 128rem;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;

    justify-content: center;
  }

  .card img {
    max-width: 22rem;
  }

  .card h2 {
    display: none;
  }

  main {
    padding-top: 6.4rem;
    padding-bottom: 1rem;
    padding-right: 8.1rem;

    grid-template-areas:
      "A B C"
      "D B E"
      "D F E"
      "G G G";

  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }

  main div:nth-child(3) {
    grid-area: C;
  }

  main div:nth-child(4) {
    grid-area: D;
  }

  main div:nth-child(6) {
    grid-area: E;
  }

  main div:nth-child(5) {
    grid-area: F;
  }

  main footer {
    margin-bottom: 3rem;
    grid-area: G;
  }

  footer {
    display: block;
  }

}